@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  margin: 0;
  font-family: "Questrial", sans-serif;
  box-sizing: border-box;
  /* background: #000; */
}

.app {
  
  width: 30rem;
  margin: 3rem auto;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
}
button {
  margin: 1rem;
}
.app {
  text-align: center;
}

main {
  margin-top: 6rem;
}
